<div class="navigation-bar">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <RadzenLink Icon="accessibility" Path="button" Text="Go" />
        </div>
        <div class="col-lg-4 col-md-4 col-sm-8">
            <RadzenTextBox Class="w-100" />
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4">
            <RadzenButton Text="Szukaj" ButtonStyle="ButtonStyle.Warning" class="w-100" />
        </div>
    </div>
</div>

@code {

}