<div class="movie-footer">
    <div class="movie-footer-text">
        Aplikacja inyternetowa grupy 3 zrealizowana na zajęciach z przedmiotu Technologie internetowe. Wykorzystana technologia: Blazor Server Side.
    </div>
</div>


@code {

}